
  .shiza__test {
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }

  .shiza__text {
    text-align: center;
    padding-top: 20px;
  }

  .start__test {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
  }

  .start {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
  }


  .start-test__btn {
    width: 35%;
    height: 40px;
    background: #8647d8;
    border: #fff solid 1px;
    text-align: center;
    padding-top: 7px;
  }

  .start-test__btn:hover {
    text-decoration: underline;
  }
  

  .start-test__btn:active {
    background: #B76B02;
  }

  a{
    color: #fff;
  }
  




















  